@{
    ViewData["Title"] = "Inicio";
    var hora = (DateTime)ViewBag.HoraActual;
}

<h2>Hola, son las @hora.ToString("HH:mm")</h2>

@if (hora.Hour >= 12)
{
    <p>Ya hemos pasado de las 12 del mediodía.</p>
}
else
{
    <p>No hemos pasado aún de las 12 del mediodía.</p>
}
<p>
    @Html.ActionLink("Ver tabla de multiplicar", "TablaMultiplicar", "Home")
</p>
