@{
    ViewBag.Title = "Listado de Productos";
}

<h2>Listado de Productos</h2>

<ul>
    <li>Espada legendaria</li>
    <li>Armadura de dragón</li>
    <li>Poción curativa</li>
    <li>Escudo de plata</li>
</ul>

<p>
    @Html.ActionLink("Volver al inicio", "Index", "Home")
</p>
